@model WebAssignmentMVC.Models.Person.PersonLanguage
<h2>Add Person to Language</h2>
<hr />

<div class="col-md-4">
    <form method="post">
        <input type="hidden" asp-for="LanguageId" name="LanguageId"/>
        <div class="form-group">
            <label>Language</label>
            <div class="font-weight-bold">
                <h2>
                    @ViewBag.LangName
                </h2>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="PersonId">Person List</label>
            @Html.DropDownList("PersonId", new SelectList(ViewBag.Persons, "Id", "FirstName", "LastName"), 
           new { @class = "multi-select", multiple = "multiple", style = "width: 100px;" })

        </div>
        <div class="form-group">
            <button onclick="@Url.Action("AddPerson", "Language")" type="submit">Add</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Language List</a>
</div>
