<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" />
    <title>Louis @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header class="headerColumn">
        <img id="logo" src="~/myLogo.jpg" />
        <nav>
            <ul class="headmenu">
                <li class="listMenu"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="listMenu"><a asp-controller="Person" asp-action="Index">Person</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <span>&copy; Louis Skogen</span>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/people.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

