body {
    background-image: linear-gradient(pink, cyan, purple);
    font-family: sans-serif;
    width: 1024px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
        "header header"
        "main-content main-content"
        "footer footer";
    grid-gap: 5px;
    background-color: azure;
    padding: 10px;
}


.headerColumn {
    display: flex;
    width: auto;
    height: auto;
}
#logo {
    margin-top: 12px;
    width: 6vh;
    padding: 2px;
}

.listMenu {
    display: flex;
    margin-left: 10px;
}

header {
    grid-area: header;
    background-color: cornflowerblue;
    width: auto;
    height: 90px;
    padding: 5px;
}

.headmenu {
    display: flex;
    padding: 2px;
    height: 65px;
    width: 900px;
    list-style: none;
    background-color: bisque;
}

.header{
    display: flex;
    padding: 2px;
    height: 45px;
    background-color:cornflowerblue;
}
.show {
    grid-area: show;
    width: auto;
    height: auto;
}

.horiform {
    float: left; 
    width : 50%;
    display: inline;
}
.main-content {
    grid-area: main-content;
    width: 1000px;
    height: 700px;
}

.footer {
    grid-area: footer;
    background-color:cadetblue;
    vertical-align:middle;
    width: auto;
    height: 50px;
}

.danger {
    background-color: red;
    color: white;
}

.warning {
    background-color: orange;
    color: white;
}

.green {
    background-color: green;
    color: white;
}
.contact {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

th{
    width: 200px;
}

    .contact td, #contact th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .contact tr:nth-child(even) {
        background-color:dimgray;
    }

    .contact tr:hover {
        background-color: #ddd;
    }

    .contact th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:darkslateblue;
        color: white;
    }

.button {
    width: 30%;
    padding: 5px 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:darkslategrey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

    .button:hover {
        background-color:darkseagreen;
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }

div.inform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-size:smaller;
    width: 50%;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
   display: inline;
   font-size: 18px;
}

ul.breadcrumb li + li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;    
}
  
ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}