@model CreatePersonViewModel
@{
    ViewData["Title"] = "Persons - Add new Person";
}

<h3>Add new Person</h3>
<ul class="breadcrumb">
    <li>
        <a asp-action="Create">Add Person</a>
    </li>
    <li>
        <a asp-action="Searching">Search Person</a>
    </li>
    <li>
        <a asp-action="FindPerson">Find by ID</a>
    </li>
</ul>

<div class="inform show">
    <form asp-action="Create" method="post">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>

        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>

        <label asp-for="City"></label>
        <input asp-for="City" list="cityList" />
        <span asp-validation-for="City"></span>

        <label asp-for="Phone"></label>
        <input asp-for="Phone" type="tel" />
        <span asp-validation-for="Phone"></span>

        <button type="submit" class="button">Create Person</button>

        <datalist id="cityList">
            @foreach (string city in Model.CityList)
            {
                <option value="@city">@city</option>
            }
        </datalist>
    </form>
</div>
