@model WebAssignmentMVC.Models.Person.ViewModels.CreatePersonViewModel
@{
    ViewData["Title"] = "Persons - Add new Person";
}

<h3>Add new Person</h3>

<div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" id="FirstName" />
            <span asp-validation-for="FirstName"></span>

            <label asp-for="LastName"></label>
            <input asp-for="LastName" id="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
        <div class="form-group row">
            <label asp-for="CountryId"></label>
                <select id="CountryId" name="CountryID">
                    @foreach (Country country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Cname</option>
                    }
                </select>
                <span asp-validation-for="CountryId"></span>
            </div>
        <div class="form-group row">
            <label asp-for="CityId"></label>
            <select id="CityId" name="CityId">
                @foreach (City city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <span asp-validation-for="CityId"></span>
        </div>
        <button type="submit" class="button">Create Person</button>
    </form>
</div>
<div class="col-2 " id="PersonList">
</div>
