@model List<Person>
@{
    ViewData["Title"] = "Persons - Index";
}
<hr />
<h1>Person Information</h1>
<ul class="breadcrumb">
    <li>
        <a asp-action="Create">Add Person</a>
    </li>
    <li>
        <a asp-action="Searching">Search Person</a>
    </li>
    <li>
        <a asp-action="FindPerson">Find by ID</a>
    </li>
</ul>
<p> </p>
<table class="contact">
  <tr>
      <th>ID Number</th>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Telephone</th>
     <th>City</th>
  </tr>
  <tbody>
     @foreach (Person person in Model)
     {
      <tr>
          <partial name="_PersonList" model="person" />
      </tr>
      }
  </tbody>
</table>

