@model List<Person>
@{
    ViewData["Title"] = "Persons - Find Person";
}

<h3>Find Person</h3>

<div display="inline-flex">
    <div display="inline-flex" flex-direction="row">
        <table>
            <tr>
                <th>
                    <form asp-action="Searching" method="post">
                        <div>
                            <div>
                                <label>First Name</label>
                                <input name="FirstName" type="text" id="inputId" />
                            </div>
                            <div>
                                <label>Last Name</label>
                                <input name="LastName" type="text" id="LastName" />
                            </div>
                            <div>
                                <Lable>City</Lable>
                                <input name="City" type="text" id="City " list="cityList" />
                            </div>
                            <div>
                                <button onclick="findThroughPost('@Url.Action("Searching", "Person")', 'inputId')">Search</button>
                                <datalist id="cityList">
                                    <option value=""></option>
                                </datalist>
                            </div>
                        </div>
                    </form>
                </th>
                <td>
    <div id="PersonList" display="inine-flex" flex-direction="row">
    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <partial name="_SearchResult" model="Model" />
</div>
