@{
    ViewData["Title"] = "Home";
}

<h2>About Louis Skogen</h2>
<hr />
<table class="contact">
    <tr>
        <th>Name:</th>
        <td>Louis Shogan</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>111 222 333</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>louis@outerspace.com</td>
    </tr>
</table>
