@{
    ViewData["Title"] = "Home";
}
<h1>Contact Page</h1>
<hr />
<table class="contact">
    <tr>
        <th>Name:</th>
        <td>Louis Skogen</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>111 222 333</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>louis@outerspace.com</td>
    </tr>
</table>